# Feel free to add multipliers if you have a mod you want more common than the rest
# Multiplier format:  <MOD>|<INT> eg: angelic|6 to make angelic 6x more common
angelic
animal sounds only
anthroid
armless
arousal aura
balloony
bimbo
blank (mannequin form)
blind
bootylicious
branded
chibi
clockwork
contagious (breath)
contagious (fluids)
contagious (sexual contact)
deaf
demonic
displacer
dominant
EGL
elemental (air)
elemental (earth)
elemental (fire)
elemental (surprise)
elemental (water)
encased in acrylic (bottom half)
encased in acrylic (total)
encased in amber (bottom half)
encased in amber (total)
faceless
ghostly
golem (amber)
golem (glass)
golem (metal)
golem (stone)
goo
harnessed
hexapede
hip-handled
holographic (contiguous)
holographic (Rayman-like non-contiguous body)
hyper (semi-realistic)
hyper (unrealistic)
hyper (wingerized)
hyper-fertile
hyper-flexible
hyper-incontinent
hypnotized (believes body has not changed)
hypnotized (enters trance when name is spoken thrice in a row)
hypnotized (gender identity swap)
hypnotized (obeys any order)
hypnotized (universal consent)
in heat
incontinent
inflatable
instinct-driven
lactating
laminated
LGD
liquid-shifter
macro (planet)
macro (skyscraper)
macro (small house)
macro (small office building)
mature
micro (1 foot)
micro (1 inch)
micro (6 inches)
micro (quantum)
mind control aura
mitten-handed
MMPH (Mittened, Muzzled, Plugged, Hearing-Deprived)
mouthless
multi-sexed
muscular
mute
naked
naga
non-anthro
nymphomaniac
obese (chubby)
obese (morbid)
obese (sidewalk-crunching)
permabound
permasuited
plant hybrid
plush
psi vampire
regressed
robotic
rubber
sabretoothed
sense-deprived
sexdoll
slime (Dragon Warrior style)
slubber
statue
submissive
suit
taur
teen
tentacled
toon
twink
undead
vampiric
werecreature (in prior form most of the time)
