# Feel free to add multipliers if you have a species you want more common than the rest
# Multiplier format:  <SPECIES>|<INT> eg: Bear|6 to make bear 6x more common
Apatosaurus
Arcanine
Archaeopteryx
Armadillo
Axolotl
Badger
Bat
Bear
Bearcat
Birdo
Cat (calico)
Cat (free choice of breed)
Cat (persian)
Cat (siamese)
Cerberus
Cheetah
Chicken
Chinchilla
Citra
Cow
Crocodile
Crux
Deer
Demon
Dog (collie)
Dog (corgi)
Dog (doberman)
Dog (free choice of breed)
Dog (golden retriever)
Dog (husky)
Dog (lab)
Dog (poodle)
Doge (wow)
Dolphin
Donkey
Dragon (aquatic)
Dragon (eastern)
Dragon (flammie)
Dragon (western)
Dragon (wyvern)
Drider
Duck
Eevee/Eeveelution
Elephant
Elf
Falcon
Ferret
Flamingo
Fox
Fox (arctic)
Fox (fennec)
Frog
Gazelle
Goat
Gorgon
Gryphon
Hamster
Hedgehog
Hellhound
Hippo
Horse
Hyena
Hyrax
Jackal
Jaguar
Jellyfish
Kangaroo
Kappa
Kirin
Kitsune
Koala
Kobold (doglike)
Kobold (reptile)
Lemur
Leopard
Leopard (snow)
Lion
Lizard
Llama
Lynx
Mantis
Meerkat
Mindflayer
MLP (alicorn)
MLP (earth pony)
MLP (pegasus)
MLP (unicorn)
MLP (zebra)
Mole
Mouse
Mule
Myconid
Naga
Neutlie
Nightmare
Nimbat
Ninetales
Nymph
Octopus
Okapi
Orca
Otter
Owl
Panda
Pangolin
Panther
Parrot
Pegasus (non-MLP)
Phoenix
Pig
Pikachu
Platypus
Pokemon (free choice)
Possat
Possum
Pterodactyl
Rabbit
Raccoon
Rat
Raven
Red Panda
Renamon
Rhino
Salamander
Satyr
Sergal
Serval
Shark
Sheep
Skunk
Sloth
Slug
Snake
Sparkledog
Squirrel
Stegosaurus
Sugar Glider
Tanuki
Tengu
Tiger
Trapper
Triceratops
Tyrannosaurus
Unicorn (non-MLP)
Utahraptor
Vespid
Wolf
Xenomorph
Yeti
Yoshi
Zebra (non-MLP)
